{% extends 'base.html' %} {% block title %}Dog Gallery{% endblock %} {% block
styles %}
<!-- Add any additional CSS styles for this template if needed -->
{% endblock %} {% block content %}
<!-- Header Section -->
<h1 class="header">The Dog Hall of Fame</h1>
<h2 class="subheader">
  Celebrating the charm and charisma of our canine companions.
</h2>

<!-- Dog Gallery Container -->
<div class="dog-gallery-container">
  {% for dog in dog_data %}
  <!-- Dog Card for Each Dog Image -->
  <div class="dog-card">
    <!-- Link to Dog Image Information -->
    <a href="{{ url_for('get_dog_image_info', image_id=dog.id) }}">
      <!-- Dog Image with Overlay -->
      <img src="{{ dog.url }}" alt="Dog Image" />
      <div class="overlay">
        <!-- Display Breed Name, default to 'Unknown' if not available -->
        <p class="breed-name">{{ dog.breeds[0].name | default('Unknown')}}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
