{% extends 'base.html' %}

{% block title %}Dog Gallery{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

<h1 class="header">The Dog Hall of Fame</h1>
<h2 class="subheader">Celebrating the charm and charisma of our canine companions.</h2>

<div class="dog-gallery-container">
    {% for dog in dog_data %}
        <div class="dog-card">
            <a href="{{ url_for('get_dog_image_info', image_id=dog.id) }}">
                <img src="{{ dog.url }}" alt="Dog Image">
                <div class="overlay">
                    <p class="breed-name">{{ dog.breeds[0].name | default('Unknown')}}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
