
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    overflow: auto;
}

/* NAVBAR CSS */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.company-name {
    font-family: 'Pacifico', cursive; /* we will need to choose */
    font-size: 24px;
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #2647aa;
    color: white;
    border: none;
    border-radius: 4px;
}

/* HOME PAGE CSS */
.home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.left-section {
    width: 650px;
    padding-right: 100px;
}

.left-section p {
    font-size: 20px;
}

.right-section {
    width: 650px;
}

.browse-buttons {
    margin-top: 20px;
}

.browse-buttons button {
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #2647aa;
    color: white;
    border: none;
    border-radius: 4px;
}

/* DOG LIST CSS */

.header {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.subheader {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.dog-gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.dog-card {
    position: relative; 
    overflow: hidden;
    cursor: pointer;
}

.dog-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    color: white; 
}

.breed-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* Image Info CSS */
.details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    padding: 30px;
}

.details-container img {
    max-width: 50%;
    border-radius: 8px;
}

.details-container div {
    max-width: 50%;
    margin: auto;
    justify-content: center;
}

.details-container ul {
    list-style-type: none;
    padding: 0;
}

.details-container li {
    margin-bottom: 1em;
}

.image_info_breed-name {
    text-align: center;
    font-size: 50px;
}

.tag {
    display: inline-block;
    background-color: #2647aa;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
}

/* BREEDS CSS */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: #161B1C;
    border: 1px solid gray;
    padding: 18px;
    font-size: 18px;
    margin: 10px;
    color: white;
    height: 30px;
    font-size: 20px;
    border-radius: 8px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.breed-link {
    text-decoration: none;
    color: inherit; 
}

.grid-item .breed-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px; 
    margin-top: 20px; 
}

.grid-item p:not(.breed-name) {
    font-weight: 100; 
    margin-top: 2px; 
}

#searchBar {
    width: 100%;
    height: 50px;
    background-color: #2647aa; 
    color: white; 
    border: none;
    font-size: 20px; 
    padding: 10px;
    margin-top: 20px;
}

/* BREED INFO CSS */
.details-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.details-container img {
    max-width: 50%;
}
.details-container div {
    max-width: 50%;
}
.details-container ul {
    list-style-type: none;
    padding: 0;
}
.details-container li {
    margin-bottom: 1em;
}
.image_info_breed-name {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}
.tag {
    display: inline-block;
    background-color: #2647aa;
    padding: 5px;
    margin: 2px;
    border-radius: 8px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    /* margin-top: 2em; */
    margin-bottom: 2em;
}
.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* PREV AND NEXT ARROWS */
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2647aa;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-left:10px;
    margin-right: 10px;
}

.navigation img {
    width: 30px;
    height: 30px;
}

/* BREEDS MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  