{% extends 'base.html' %} {% block title %}Cat Breeds{% endblock %} {% block
styles %}
<!-- Your styles here (if any) -->
{% endblock %} {% block content %}
<!-- Input field for searching cat breeds -->
<input
  type="text"
  style="background-color: #2e5eaa"
  id="searchBar"
  onkeyup="searchFunction()"
  placeholder="Search for cat breeds..."
/>

<!-- Container for displaying the list of cat breeds -->
<div class="grid-container" id="breedList">
  {% for breed in breeds_data %}
  <!-- Link to the individual cat breed page -->
  <a
    href="{{ url_for('get_cat_breed_info', breed_id=breed.id) }}"
    class="breed-link"
  >
    <!-- Grid item representing a cat breed -->
    <div class="grid-item" style="background-color: #4e463c">
      <!-- Displaying the breed name and origin -->
      <p class="breed-name">{{ breed.name }}</p>
      <p>{{ breed.origin }}</p>
    </div>
  </a>
  {% endfor %}
</div>

<!-- JavaScript for live search functionality -->
  <script src="{{ url_for('static', filename='js/cat_breeds.js') }}"></script>
{% endblock %}
