<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- CSS links come here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
</head>
<body>
    <!-- Shared component goes here -->
    <nav>
        <div class="logo" onclick="location.href='{{url_for('home')}}'">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company Logo">
            <div class="company-name">Paws&Purrs</div>
        </div>

        <div class="auth-buttons">
            <button  onclick="location.href='{{url_for('get_dog_breeds')}}'">Dog Breeds</button>
            <button  onclick="location.href='{{url_for('get_cat_breeds')}}'">Cat Breeds</button>
        </div>

        <div class="auth-buttons">
            <button onclick="location.href='/signup'">Sign Up</button>
            <button onclick="location.href='/signin'">Sign In</button>
        </div>
    </nav>

    <!-- Content will be inserted here -->
    {% block content %}{% endblock %}
</body>
</html>
