<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- CSS links come here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
</head>
<body>
    <!-- Shared component goes here -->
    <nav>
        <div class="logo" onclick="location.href='{{url_for('home')}}'">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company Logo">
            <div class="company-name">Paws&Purrs</div>
        </div>

        <div class="auth-buttons">
            <select id="gallery" onchange="location = this.value;">
                <option value="" disabled selected>Pet Gallery</option>
                <option value="{{url_for('dog_images')}}">Dog Breeds</option>
                <option value="{{url_for('cat_images')}}">Cat Breeds</option>
            </select>
            <select id="breeds" onchange="location = this.value;">
                <option value="" disabled selected>Pet Breeds</option>
                <option value="{{url_for('get_dog_breeds')}}">Dog Images</option>
                <option value="{{url_for('get_cat_breeds')}}">Cats Images</option>
            </select>
        </div>        
               
    </nav>
    <!-- Content will be inserted here -->
    {% block content %}{% endblock %}
</body>
</html>
