{% extends 'base.html' %}

{% block title %}Dog Breeds{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<input type="text" id="searchBar" onkeyup="searchFunction()" placeholder="Search for breeds...">
<div class="grid-container" id="breedList">
    {% for breed in breeds_data %}
    <a href="{{ url_for('get_breed_info', breed_id=breed.id) }}" class="breed-link">
        <div class="grid-item">
            <p class="breed-name">{{ breed.name }}</p>
            <p>{{ breed.origin }}</p>
        </div>
    </a>
   
    {% endfor %}
</div>

<script>
function searchFunction() {
    // Get the input field and its value
    var input = document.getElementById('searchBar');
    var filter = input.value;

    // Make an AJAX call to your search route
    fetch('/dog/breeds/search?q=' + filter)
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            // Clear the breed list container
            var container = document.getElementById('breedList');
            container.innerHTML = '';

            // Loop through the search results and add them to the breed list container
            for (var i = 0; i < data.length; i++) {
                var breed = data[i];

                var breedLink = document.createElement('a');
                breedLink.href = '/breeds/' + breed.id;
                breedLink.className = 'breed-link';

                var gridItem = document.createElement('div');
                gridItem.className = 'grid-item';

                var breedName = document.createElement('p');
                breedName.className = 'breed-name';
                breedName.textContent = breed.name;

                var breedOrigin = document.createElement('p');
                breedOrigin.textContent = breed.origin;

                gridItem.appendChild(breedName);
                gridItem.appendChild(breedOrigin);
                breedLink.appendChild(gridItem);
                container.appendChild(breedLink);
            }
        })
        .catch(function(error) {
            console.error('Error:', error);
        });
}

</script>
{% endblock %}
