{% extends 'base.html' %}

{% block title %}Dog Breeds{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<input type="text" id="searchBar" onkeyup="searchFunction()" placeholder="Search for breeds...">
<div class="grid-container" id="breedList">
    {% for breed in breeds_data %}
    <a href="{{ url_for('get_breed_info', breed_id=breed.id) }}" class="breed-link">
        <div class="grid-item">
            <p class="breed-name">{{ breed.name }}</p>
            <p>{{ breed.origin }}</p>
        </div>
    </a>
   
    {% endfor %}
</div>

<script>
function searchFunction() {
    // Get the input field and its value
    var input = document.getElementById('searchBar');
    var filter = input.value.toUpperCase();

    // Get the breed list container and its children
    var container = document.getElementById('breedList');
    var items = container.getElementsByClassName('grid-item');

    // Loop through all list items, and hide those who don't match the search query
    for (var i = 0; i < items.length; i++) {
        var breedName = items[i].getElementsByClassName('breed-name')[0];
        var txtValue = breedName.textContent || breedName.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            items[i].style.display = "";
        } else {
            items[i].style.display = "none";
        }
    }
}
</script>
{% endblock %}
