{% extends 'base.html' %}

{% block title %}Dog Image Details{% endblock %}

{% block styles %}
<!-- Your styles here -->
{% endblock %}

{% block content %}
<div class="navigation">
    {% if prev_breed_id %}
    <a href="{{ url_for('get_breed_info', breed_id=prev_breed_id) }}">
        <img src="{{ url_for('static', filename='images/back.png') }}" alt="Previous Breed">
    </a>
    {% endif %}
    {% if next_breed_id %}
    <a href="{{ url_for('get_breed_info', breed_id=next_breed_id) }}">
        <img src="{{ url_for('static', filename='images/next.png') }}" alt="Next Breed">
    </a>
    {% endif %}
</div>

<div class="details-container">
    {% if images_info %}
    <img style="cursor: pointer;" src="{{ images_info[0].url }}" alt="{{ breed_info.name }}"
        onclick="openModal('{{ images_info[0].url }}')">
    {% else %}
    <img src="{{ url_for('static', filename='images/dog404.png') }}" alt="No Dog Image">
    {% endif %}
    <div>
        <h1 class="image_info_breed-name">{{ breed_info.name }}</h1>
        <h2 style="text-decoration: underline">Details</h2>
        <ul>
            <li><strong>Origin:</strong>
                {% if breed_info.origin %}
                {{ breed_info.origin }}
                {% else %}
                N/A
                {% endif %}
            </li>

            <li><strong>Bred for:</strong>
                {% if breed_info.bred_for %}
                {% for temperament in breed_info.bred_for.split(",") %}
                {% set words = temperament.strip().capitalize().split() %}
                {% if words|length > 2 %}
                <div class="tag">{{ words[:5]|join(' ') }}</div>
                {% else %}
                <div class="tag">{{ temperament.strip().capitalize().rstrip('.') }}</div>
                {% endif %}
                {% endfor %}
                {% else %}
                N/A
                {% endif %}
            </li>

            <li><strong>Breed group:</strong> {{ breed_info.breed_group }}</li>
            <li><strong>Life span:</strong> {{ breed_info.life_span }}</li>
            <li><strong>Temperament:</strong>
                {% if 'temperament' in breed_info %}
                {% set temperament_list = breed_info.temperament.split(",") %}
                <!-- In case the number of tags displayed is not satisfactory, you can change them here -->
                {% for temperament in temperament_list[:5] %}
                <div class="tag">{{ temperament }}</div>
                {% endfor %}
                {% else %}
                N/A
                {% endif %}
            </li>
        </ul>
        <h2 style="text-decoration: underline">Measurements</h2>
        <table>
            <tr>
                <th></th>
                <th>Imperial</th>
                <th>Metric</th>
            </tr>
            <tr>
                <td><strong>Weight:</strong></td>
                <td>{{ breed_info.weight.imperial }} lb</td>
                <td>{{ breed_info.weight.metric }} kg</td>
            </tr>
            <tr>
                <td><strong>Height:</strong></td>
                <td>{{ breed_info.height.imperial }} inch</td>
                <td>{{ breed_info.height.metric }} cm</td>
            </tr>
        </table>
    </div>
</div>
<div class="image-grid">
    {% for image in images_info[1:] %}
    <div class="img-container" onclick="openModal('{{ image.url }}')">
        <img src="{{ image.url }}" alt="{{ breed_info.name }}"
            style="height: 244px; object-fit: cover; cursor: pointer">
    </div>
    {% endfor %}
</div>

<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="navigation-buttons">
        <button onclick="changeImage(-1)">❮</button>
        <button onclick="changeImage(1)">❯</button>
    </div>
    <img class="modal-content" id="img01">
</div>

<script>
    var currentImageIndex = 0;
    var imagesInfo = {{ images_info| tojson | safe }};

    function openModal(index) {
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("img01");

        modal.style.display = "block";
        currentImageIndex = index >= 0 && index < imagesInfo.length ? index : 0;
        modalImg.src = imagesInfo[currentImageIndex].url;
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    function changeImage(offset) {
        currentImageIndex += offset;
        if (currentImageIndex < 0) {
            currentImageIndex = imagesInfo.length - 1;
        } else if (currentImageIndex >= imagesInfo.length) {
            currentImageIndex = 0;
        }
        document.getElementById("img01").src = imagesInfo[currentImageIndex].url;
    }

    function nextImage() {
        changeImage(1);
    }
</script>

{% endblock %}
