<!DOCTYPE html>
<html>
<head>
    <!-- CSS links come here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
</head>
<body>
    <!-- Shared component goes here -->
    <nav>
        <div class="logo" onclick="location.href='{{url_for('home')}}'">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company Logo">
            <div class="company-name">Paws&Purrs</div>
        </div>

        <div class="auth-buttons">
          <button onclick="document.getElementById('features').scrollIntoView();">Features</button>
        <button onclick="document.getElementById('about').scrollIntoView();">About</button>
      </div>          
    </nav>
    <div class="home-container">
      <div class="left-section">
          <h1 style="font-size: 72px;">Paws&Purrs</h1>
          <p style="font-size: 30px;">
            Discover and explore a world of adorable cat and dog breeds with our interactive image gallery, 
            powered by TheCatAPI and TheDogAPI.” 😊
          </p>
          <div class="browse-buttons">
              <button onclick="location.href='/home'">Dive In</button>
              
          </div>
      </div>
      <div class="right-section">
          <!-- Image goes here -->
          <img src="../static/images/landing.png" alt="Pet Image" style="width: 650px; height: 650px">
      </div>
  </div>
  <div id="features" class="home-container" style="height: 100vh;">
    <div class="left-section">
        <h1 style="font-size: 72px;">Gallery</h1>
        <p style="font-size: 30px;">
          The galleries are the heart of our website. It’s a visual feast for pet lovers, 
          showcasing a diverse array of cat and dog breeds in all their glory. 
          Each image in the gallery is more than just a picture; 
          it’s a window into the world of that particular breed. 
          Accompanying each image is the breed name, serving as a brief introduction to the pet you’re viewing. 
          Whether you’re a fan of the exotic Siamese or the massive Boerboel, 
          the gallery has something for every pet enthusiast.
        </p>
        <div class="browse-buttons">
            <button onclick="location.href='/home'">Discover More</button>
            
        </div>
    </div>
    <div class="right-section">
        <!-- Add an image of any gallery -->
        <img src="../static/images/dog-hall-of-fame.png" alt="Pet Image" style="width: 650px; height: 650px">
    </div>
  </div>
  <div class="home-container">
    <div class="left-section">
        <h1 style="font-size: 72px;">Breed List and Search Bar</h1>
        <p style="font-size: 30px;">
          Our Breed List and Search Bar feature is a comprehensive directory of breeds. 
          It’s an easy-to-navigate list that provides a snapshot of the diverse breeds available. 
          But it’s more than just a list; it’s also a dynamic search tool. As you type in the search bar, 
          the list updates in real-time, filtering the breeds to match your search. 
          It’s a quick and efficient way to find and explore breeds that pique your interest.
        </p>
        <p style="font-size: 30px;">
          
        </p>
        <div class="browse-buttons">
            <button onclick="location.href='/home'">Check it out</button>
            
        </div>
    </div>
    <div class="right-section">
        <!-- Image goes here -->
        <img src="../static/images/landing.png" alt="Pet Image" style="width: 650px; height: 650px">
    </div>
  </div>
  <div class="home-container">
    <div class="left-section">
        <h1 style="font-size: 72px;">Breed Information</h1>
        <p style="font-size: 30px;">
          The Breed Information feature is like a mini-encyclopedia for each cat breed. 
          When you select a breed, you’re taken to a dedicated page brimming with interesting facts and details about that breed. 
          You’ll find information about the breed’s traits, giving you insights into its temperament, physical characteristics,
           and unique behaviors. But that’s not all; the page also features additional images of the breed, 
           letting you see more examples of the breed’s distinctive appearance.
        </p>
        <p style="font-size: 30px;">
          
        </p>
        <div class="browse-buttons">
            <button onclick="location.href='/home'">Check it out</button>
            
        </div>
    </div>
    <div class="right-section">
        <!-- Image goes here -->
        <img src="../static/images/landing.png" alt="Pet Image" style="width: 650px; height: 650px">
    </div>
  </div>
  <div class="home-container">
    <div class="left-section">
        <h1 style="font-size: 72px;">Breed Information</h1>
        <p style="font-size: 30px;">
          The Breed Information feature is like a mini-encyclopedia for each cat breed. 
          When you select a breed, you’re taken to a dedicated page brimming with interesting facts and details about that breed. 
          You’ll find information about the breed’s traits, giving you insights into its temperament, physical characteristics,
           and unique behaviors. But that’s not all; the page also features additional images of the breed, 
           letting you see more examples of the breed’s distinctive appearance.
        </p>
        <p style="font-size: 30px;">
          
        </p>
        <div class="browse-buttons">
            <button onclick="location.href='/home'">Check it out</button>
            
        </div>
    </div>
    <div class="right-section">
        <!-- Image goes here -->
        <img src="../static/images/landing.png" alt="Pet Image" style="width: 650px; height: 650px">
    </div>
  </div>
  <div id="about" class="home-container" style="height: 500vh;">
    <div class="left-section">
        <h1 style="font-size: 72px;">About</h1>
        <p style="font-size: 30px;">
          Our project was inspired by our shared love for cats and dogs. 
          As pet owners and animal enthusiasts, we found ourselves constantly looking up different breeds, 
          trying to understand their unique traits and characteristics. 
          We realized that while there was a wealth of information available, it wasn’t always easy to navigate or visually appealing. 
          That’s when the idea for this project was born.
        </p>

        <p>
          We wanted to create a platform that not only provided information about different cat breeds but did so in a way that was engaging and user-friendly. 
          We spent countless hours brainstorming, designing, and coding to bring this idea to life. 
          This project is a testament to our passion for animals and our commitment to creating meaningful and impactful digital experiences.
        </p> 
        <p>
          This project was completed as part of our Portfolio Project for <a href="https://www.holbertonschool.com/"></a>Holberton School. 
          It was a challenging but rewarding experience, and we’re proud of what we’ve accomplished.
        </p> 
    </div>
    <div class="right-section">
        <!-- Image goes here -->
        <img src="../static/images/logo.png" alt="Pet Image" style="width: 650px; height: 650px">
    </div>
  </div>
  <div class="home-container">
    <div class="left-section">
      <!--  your image goes here -->
      <img src="../static/images/logo.png" alt="Pet Image" style="width: 650px; height: 650px">
    </div>
    <div class="right-section">
    
        <h1 style="font-size: 72px;">About Zandré de Boer</h1>
        <p>
          Zandré, based in the beautiful city of Cape Town, played a crucial role as the backend developer of the project. 
          His responsibilities were manifold and vital to the successful execution of the project.
          He was the mastermind behind creating the routes for the application, ensuring seamless navigation and user experience. 
          He took charge of project creation, laying the foundation on which the features we built.
          Zandré’s expertise was particularly evident in his ability to handle errors. 
          He ensured the application ran smoothly, preemptively addressing potential issues and swiftly resolving any that arose.  
          Moreover, he was responsible for hosting the site, making the application accessible to users around the world.
          In addition to his backend development duties, Zandré also served as the resident test engineer. 
          He meticulously tested the application for any bugs or issues, ensuring that the final product was polished and free of errors.
          His contributions were invaluable to the project, and his skills as a backend developer and test engineer greatly enhanced the quality of work produced.😊
        </p>

        <ul style="margin-top: 10px;">
          <li><a href="https://www.linkedin.com/in/username">LinkedIn</a></li>
          <li><a href="https://github.com/F1R3BLAZ3">GitHub</a></li>
          <li><a href="https://twitter.com/username">Twitter</a></li>
        </ul>
      
        </ul>
    </div>
  </div>

  <div id="about" class="home-container" style="height: 500vh;">
    <div class="left-section">
        <h1 style="font-size: 72px;">About Duncan Moyo</h1>
        <p>
          Duncan Moyo, our frontend developer, brought the application to life with his exceptional skills. 
          Based in Gweru, Zimbabwe, Duncan was the creative force behind the user interface, shaping the look and feel of the application.
          Duncan was responsible for designing and implementing the user interface. 
          He transformed the ideas into visually appealing layouts and screens, 
          ensuring that the application was not only functional but also aesthetically pleasing.
          He played a crucial role in user experience design, creating intuitive navigation and seamless user flows. 
          He made sure that every interaction, every click, every scroll felt natural and intuitive.
          Duncan also handled the integration of the frontend with the backend. 
          He ensured that the user interface communicated effectively with the server, providing a smooth and responsive user experience.
          In addition to his frontend duties, he went through every part of the application, squashing bugs and refining the user interface. 
          His passion for design and attention to detail greatly contributed to the success of our project.😊
        </p>

        <ul style="margin-top: 10px;">
          <li><a href="https://www.linkedin.com/in/duncanmoyo">LinkedIn</a></li>
          <li><a href="https://github.com/DuncanMoyo">GitHub</a></li>
          <li><a href="https://twitter.com/moyoduncan2">Twitter</a></li>
        </ul>
    </div>
    <div class="right-section">
        <!-- Image goes here -->
        <img src="../static/images/logo.png" alt="Pet Image" style="width: 650px; height: 650px">
    </div>
  </div>
</body>
</html>
