<!DOCTYPE html>
<html>
  <head>
    <!-- CSS links come here -->
    <!-- Link to global styles -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/global.css') }}"
    />
  </head>

  <body>
    <!-- Navigation Section -->
    <nav>
      <!-- Logo and company name -->
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Company Logo"
        />
        <div class="company-name">Paws&Purrs</div>
      </div>

      <!-- Navigation buttons for scrolling to different sections -->
      <div class="section-buttons">
        <button onclick="document.getElementById('features').scrollIntoView();">
          Features
        </button>
        <button onclick="document.getElementById('about').scrollIntoView();">
          About
        </button>
      </div>
    </nav>

    <!-- Home Section -->
    <div class="home-container">
      <!-- Left section with project introduction -->
      <div class="left-section">
        <h1 style="font-size: 84px">Paws&Purrs</h1>
        <p style="font-size: 39px">
          Discover and explore a world of adorable cat and dog breeds with our
          interactive image gallery, powered by TheCatAPI and TheDogAPI. 😊
        </p>
        <!-- Button to navigate to the gallery -->
        <div class="browse-buttons">
          <button onclick="location.href='/home'">Dive In</button>
        </div>
      </div>
      <!-- Right section with an image -->
      <div class="right-section">
        <img
          src="../static/images/landing.png"
          alt="Pet Image"
          style="width: 650px; height: 650px; border: 1px solid #fff"
        />
      </div>
    </div>

    <!-- Features Section -->
    <div id="features" class="home-container" style="height: 100vh">
      <div class="left-section">
        <h1 style="font-size: 40px">Features</h1>
        <!-- Feature descriptions -->
        <div class="feature-container">
          <!-- Feature 1: Pet Gallery -->
          <div class="feature">
            <h2 style="text-decoration: underline">Pet Gallery</h2>
            <p>
              Dive into the world of adorable pets with our extensive gallery...
            </p>
          </div>
          <!-- Feature 2: Breed List and Search Bar -->
          <div class="feature">
            <h2 style="text-decoration: underline">
              Breed List and Search Bar
            </h2>
            <p>
              Looking for a specific breed? Use our comprehensive breed list...
            </p>
          </div>
          <!-- Feature 3: Breed Info Page -->
          <div class="feature">
            <h2 style="text-decoration: underline">Breed Info Page</h2>
            <p>
              Want to learn more about a particular breed? Our Breed Info
              Page...
            </p>
          </div>
        </div>
      </div>
      <!-- Right section with an image -->
      <div class="right-section">
        <img
          src="../static/images/features.png"
          alt="Pets Image"
          style="width: 650px; height: 650px; border: 1px solid #fff"
        />
      </div>
    </div>

    <!-- Gallery Section -->
    <div class="home-container">
      <!-- Left section with gallery description -->
      <div class="left-section">
        <h1 style="font-size: 30px">Gallery</h1>
        <p>
          The galleries are the heart of the website. It’s a visual feast for
          pet lovers...
        </p>
        <!-- Buttons to navigate to specific galleries -->
        <div class="section-buttons">
          <button onclick="location.href='/cat/images'">Cat Gallery</button>
          <button onclick="location.href='/dog/images'">Dog Gallery</button>
        </div>
      </div>
      <!-- Right section with an image -->
      <img
        src="../static/images/dog-hall-of-fame.png"
        alt="Pet Gallery"
        style="width: 65%; border: 1px solid #fff"
      />
    </div>

    <!-- Breed List and Search Bar Section -->
    <div class="home-container">
      <!-- Left section with description -->
      <div class="left-section" style="width: 30%">
        <h1 style="font-size: 30px">Breed List and Search Bar</h1>
        <p>
          Our Breed List and Search Bar feature is a comprehensive directory of
          breeds...
        </p>
        <!-- Buttons to navigate to specific breed lists -->
        <div class="section-buttons">
          <button onclick="location.href='/cat/breeds'">Cat Breeds</button>
          <button onclick="location.href='/dog/breeds'">Dog Breeds</button>
        </div>
      </div>
      <!-- Right section with an image -->
      <img
        src="../static/images/search-breeds.png"
        alt="Search Breeds"
        style="width: 65%; border: 1px solid #fff"
      />
    </div>

    <!-- Breed Information Section -->
    <div class="home-container">
      <!-- Left section with description -->
      <div class="left-section" style="width: 30%">
        <h1 style="font-size: 30px">Breed Information</h1>
        <p>
          The Breed Information feature is like a mini-encyclopedia for each cat
          breed...
        </p>
      </div>
      <!-- Right section with an image -->
      <img
        src="../static/images/breed-info.png"
        alt="Breed info"
        style="width: 65%; border: 1px solid #fff"
      />
    </div>

    <!-- About Section -->
    <div id="about" class="home-container" style="height: 100vh">
      <!-- Left section with about information -->
      <div class="left-section">
        <h1 style="font-size: 40px">About</h1>
        <p>
          Our project was inspired by our shared love for cats and dogs. As pet
          owners and animal enthusiasts...
        </p>
        <!-- Logo image -->
        <p>
          This project was completed as part of our Portfolio Project for
          <a href="https://www.holbertonschool.com/">Holberton School</a>...
        </p>
      </div>
      <!-- Right section with an image -->
      <div class="right-section">
        <img
          src="../static/images/logo.png"
          alt="logo"
          style="width: 650px; height: 650px"
        />
      </div>
    </div>

    <!-- Team Member Section (Zandré de Boer) -->
    <div class="home-container">
      <!-- Left section with Zandré's profile picture -->
      <div class="left-section">
        <!-- Zandré's profile picture -->
        <img
          src="../static/images/zandre.png"
          alt="Zandre Profile Picture"
          style="width: 650px; height: 650px; border: 1px solid #fff"
        />
      </div>
      <!-- Right section with Zandré's information -->
      <div class="right-section" style="padding-left: 100px">
        <h1 style="font-size: 30px">About Zandré de Boer</h1>
        <p style="font-size: 20px">
          Zandré, based in the beautiful city of Cape Town, played a crucial
          role as the backend developer of the project. His responsibilities...
        </p>
        <!-- Social links for Zandré -->
        <ul class="social-links">
          <li>
            <a href="http://www.linkedin.com/in/zandré-de-boer"
              ><img src="../static/images/linkedin.png" alt="LinkedIn"
            /></a>
          </li>
          <li>
            <a href="https://github.com/F1R3BLAZ3"
              ><img src="../static/images/github.png" alt="GitHub"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/ZandreDeBoer"
              ><img src="../static/images/twitter.png" alt="Twitter"
            /></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Team Member Section (Duncan Moyo) -->
    <div class="home-container">
      <!-- Left section with Duncan's information -->
      <div class="left-section">
        <h1 style="font-size: 30px">About Duncan Moyo</h1>
        <p style="font-size: 20px">
          Duncan Moyo, our frontend developer, brought the application to life
          with his exceptional skills. Based in Gweru, Zimbabwe, Duncan was the
          creative force behind the user interface, shaping the look and feel of
          the application...
        </p>
        <!-- Social links for Duncan -->
        <ul class="social-links">
          <li>
            <a href="http://www.linkedin.com/in/duncanmoyo"
              ><img src="../static/images/linkedin.png" alt="LinkedIn"
            /></a>
          </li>
          <li>
            <a href="https://github.com/DuncanMoyo"
              ><img src="../static/images/github.png" alt="GitHub"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/moyoduncan2"
              ><img src="../static/images/twitter.png" alt="Twitter"
            /></a>
          </li>
        </ul>
      </div>
      <!-- Right section with Duncan's profile picture -->
      <div class="right-section">
        <img
          src="../static/images/duncan.png"
          alt="Duncan Profile Picture"
          style="width: 650px; height: 650px; border: 1px solid #fff"
        />
      </div>
    </div>
  </body>
</html>
